extends layout0

block variables
  - var title = "Home"


block main
  h2.text-center Express App

  div(style="margin:auto; text-align:center; overflow:hidden; max-width:400px; padding:25px; background:grey; color:white; margin-bottom:30px; font-size:150%;").
      Welcome to your new Express app!
        
